* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Khand', sans-serif;
    margin: 1;
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    padding: 0;
    margin: 0 auto;
} 

h1.logo {
    float: left;
    margin-top: 40px;
    text-decoration: none;
}

h1.logo a {
    text-decoration: none;
    color: #333;
}

.img-circle {
    border-radius: 50%;
    width: 5%;
    padding: 20px;
}

header nav {
    float: right;
    margin: 40px 0 40px 0;
    
}

header nav h2 {
    height: 0;
    margin: 0;
    
}

header nav li {
    float: left;
    list-style-type: none;
    margin: 10px 20px;
}

header nav li a {
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
}

header nav li a:hover {
    color: royalblue;
}

#eraser {
    display: block;
    content: "";
    clear: both;
}

#tileset li {
    display: inline-block;
    width: 50%;
    height: 500px;
    padding: 0px;
    opacity: 0.6; /* css standard */
    filter: alpha(opacity=60); /* internet explorer */
}

#tileset li:hover {
    opacity: 1; /* css standard */
    filter: alpha(opacity=100); /* internet explorer */
}

#tileset a {
    text-decoration: none;
    color: #eee;
    padding: 1em;
}

#tile1 {
    background-color: firebrick;
    background-image: url(img/about.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#tile2 {
    background-color: purple;
    background-image: url(img/coding.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 115%;
}

#tile3 {
    background-color: darkkhaki;
    background-image: url(img/blog.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
}

#tile4 {
    background-color: coral;
    background-image: url(img/copywriting.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
}

#tile5 {
    background-color: olive;
    background-image: url(img/youtube.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#tile6 {
    background-color: seagreen;
    background-image: url(img/philo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
}

footer {
    padding: 30px 0;
    background: #3b3b3b;
    text-align: center;
}

footer:after {
    display: block;
    content: "";
    clear: both;
}

footer ul {
    padding: 0;
    list-style-type: none;
    color: #eee;
}

footer li {
    display: inline-block;
}

footer a {
    color:;
    text-decoration: none;
}

footer img {
    width: 50%;
}

footer #rights {
    margin-top: 1.5em;
}


/* MEDIA QUERIES */

@media screen and (max-width: 960px) {
    
#selling-points li { 
    width: 40%;
    padding: 0 5%;
    margin: 20px 0;
    
}

footer ul {
    width: 50%;
}
    
footer ul:nth-child(odd) {
    clear: both;

}

#quote {
    width: 90%;
    padding: 40px 5%;
    
}
    
}

@media screen and (max-width: 768px) {
    
header nav {
    float: none;   
}
    
header nav li {
    margin-left: 0;
    width: 16.66%;
    text-align: center;
    font-size: 14px;
}

header h1.logo {
    float: none;
    margin: 0 auto 15px;
}
    
#latest-work li {
    width: 60%;
    margin: 30px 20% !important;
}
    
}

@media screen and (max-width: 480px) {
    
#selling-points li {
    width: 80%;
    padding: 0 10%;
    margin: 20px 0;
}
    
#latest-work li {
    width: 80%;
    margin: 30px 10% !important;
}
    
#quote {
    font-size: 16px;
    font-weight: bold;
}
    
footer ul {
    width: 100%;
    float: none;
    border-top: 2px solid #333;   
}
    
header nav li {
    float: none;
    width: 100%;
    margin: 0;
}
    
header nav {
    background: #555;
}
    
header .wrapper { 
    padding: 0;
    width: 100%;
}
    
header {
    padding-bottom: 0;    
}
    
header nav li a {
    display: block;
    text-align: center;
    padding: 10px;
    color: #999;
    border-top: 1px solid #4f4f4f;
}

#burger-nav {
    width: 100%;
    height: 40px;
    background: url(images/burger.png) no-repeat 98% center;
    cursor: pointer;
}

header nav ul {
    height: 0;
    overflow: hidden;
}

header nav ul.open {
    height: auto;
    
}

}